
@inherits LayoutComponentBase
@inject NavigationManager navigation

<style>
    .header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease;
    }

    .transparent-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    }

    .colored-header {
    position: static;
    }
</style>

<div class="page">
    <header class="header @(IsTransparentRoute ? "transparent-header" : "colored-header")">
        <Nav />
    </header>
</div>

<main>

    @Body

</main>

@code {
    private bool IsTransparentRoute =>
            IsPath("/") ||
            IsPath("/login") ||
            IsPath("/register") ||
            IsPath("/crear-tarea") || 
            IsPath("/mis-tareas");

    private bool IsPath(string path)
    {
        var uri = new Uri(navigation.Uri);
        return uri.AbsolutePath.Equals(path, StringComparison.OrdinalIgnoreCase);
    }

    protected override void OnInitialized()
    {
        navigation.LocationChanged += (_, __) => StateHasChanged();
    }
}
